.filters{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.filters-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.filters-container-search {
  position: relative;
  flex: 1;
  max-width: 500px;
}

.search-icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  color: #999;
  pointer-events: none;
}


.filters-container-search input {
  width: 100%;
  padding: 12px 14px 12px 44px; 
  border: none;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  height: 55px;
}

.filters-container-search input::placeholder {
  color: #aaa;
  font-weight: 400;
}

.filters-container-region select {
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
 box-shadow: 0 2px 8px rgba(0,0,0,0.08);
 max-width: 100%;
}

.filters-container-region select {
  padding: 12px 60px 12px 14px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* espacio interno */
   background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'><path fill='black' d='M104.704 338.752a64 64 0 0 1 90.496 0l316.8 316.8l316.8-316.8a64 64 0 0 1 90.496 90.496L557.248 791.296a64 64 0 0 1-90.496 0L104.704 429.248a64 64 0 0 1 0-90.496'/></svg>");
  background-repeat: no-repeat;
  background-position: right 14px center;
  background-size: 10px;
}




